#modal_popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

}
#contain{
    width: 400px;
    height: 200px;
    margin-left: 35%;
    margin-top: 15%;
    border-radius: 10px 10px;
    background-color: #fff;
}
#calendar{
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
}
.calendarTable{
    
    border: 1px solid #fff;
    position: fixed;
    left: 280px;

}
.calendarTable thead th{
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.calendarTable tbody tr{
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    background-color: #fff;;
    
    
}
.calendarTable tbody td{
    width: 100px;
    height: 80px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    
}
.calendarbtns{
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
}
.calendarbtns span{
    padding: 6px 12px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}
.calendarDiv{
    display: none;
}
#calendarTable_1{
    display: block;
}
#allItems{
display: flex;
justify-content: space-around;
}
.allMonths{
    background-color: #216583;
    width: 200px;
    position: fixed;
    left: 0;
}
.allMonths{
    display: none;
}
#months_1{
    display: block;
}
.mont{
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding:  4% 10%;
    cursor: pointer;
}
.mont:hover{
    background-color: #194355;
    width: 80%;
}
.allEvents{
    width: 300px;
    height: 600px;
    
    right: 0;
    position: fixed;
    transform: translateX();
    background-color: #216583;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    display: none;
    
    
}
#td_1,#td_26,#td_31{
    background-color:#216583;
    color: #fff ;
}

#eve_1:after{
    content: "Lunch @2pm in Taj";
    padding-top:4px ;
}
#eve_26:after{
    content: "BirthDay Party";
    padding-top:4px ;
}
#eve_31:after{
    content: "conference meeting";
    padding-top:4px ;
}
#allDesc{
    margin-top: 500px;
}
#description{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 350px;
    height: 25px;
}
#btn{
    width: 100%;
    display: flex;
    justify-content: center;

}
#title{
    background-color: #216583;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 10px 10px;
}
button{
    margin: 12px;
}
#add,#cancel{
    margin: 2px;
}
